<div class="col-md-4" style="margin-bottom:30px">
	<h3>tweet</h3>
	<p class="text-muted"> What do you want to say?.</p>
	<form action="/post" method="POST">
		<div class="form-group">
			<label for="postTitle">Title</label>
			<input type="text" name="postTitle" class="form-control" id="postTitle" placeholder="Enter title.">
		</div>
		<div class="form-group">
			<label for="postContent">Content</label>
			<input type="text" name="postContent" class="form-control" id="postContent" placeholder="Enter Content.">
		</div>
		<button type="submit" class="btn btn-primary pull-right">tweet</button>
	</form>
</div>


